.clients {
    padding-top: 130px;
}

.clients__heading {
    margin: 0;
    margin-bottom: 26px; 
    font-size: 24px;
    font-weight: bold;
    color: var(--color-mine-shaft);
}

.clients__container {
    display: flex;
    flex-direction: column;
}

.thead-info {
    padding-left: 20px;
    margin-bottom: 8px;
    display: block;
}

.thead-info__wrapper {
    display: flex;
    align-items: center;
}

.thead-info__item {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-grey);
}

.thead-info__item--id, .thead-info__span {
    color: var(--color-heliotrope);
}

.thead-info__item--id,
.thead-info__item--fio,
.thead-info__item--create,
.thead-info__item--update {
    cursor: pointer;
    user-select: none;
}

.thead-info__item--id {
    display: inline-block;
    padding-right: 12px;
    margin-right: 57px; 
    background-position: right center;
}

.thead-info__item--fio {
    display: inline-block;
    margin-right: 205px;
    padding-right: 1px;
    background-position: right 17px center; 
}

.thead-info__span {
    padding-left: 12px;
    font-size: 10px;
    font-weight: 600;
}

.thead-info__item--create {
    display: inline-block;
    margin-right: 33px;
    position: relative;
    padding-right: 70px;
}

.thead-info__item--create::before {
    content: 'создания';
    position: absolute;
    right: 0;
    top: 1px; 
    margin-right: 12px;
}


.thead-info__item--update {
    display: inline-block;
    position: relative;
    padding-right: 81px;
    margin-right: 20px;
}

.thead-info__item--update::before {
    content: 'изменения';
    position: absolute;
    right: 0;
    top: 1px; 
    margin-right: 13px;
}

.clients__table {
    position: relative;
}

.thead-info__item--contacts {
    display: inline-block;
    margin-right: 104px;
    max-width: 50px;
}

.clients__btn {
    display: flex;
    flex-direction: row-reverse;
    padding: 12.5px 26.5px;
    align-self: center;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--color-heliotrope);
    color: var(--color-heliotrope);
}

.clients__btn svg {
    display: block;
    margin-right: 10px;
    transition: fill .2s ease-out;
    fill: var(--color-heliotrope);
}

.clients__btn:hover {
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    background-color: var(--color-melrose);
    color: var(--color-white);
}

.clients__btn:hover svg {
    transition: fill .2s ease-in;
    fill: var(--color-white);
}

.create__span, .update__span {
    display: inline-block;
    width: 12px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('./img/arrow_down.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.sort-up, .sort-down {
    background-repeat: no-repeat;
}

.sort-up {
    background-image: url('./img/arrow_up.svg');
}

.sort-down {
    background-image: url('./img/arrow_down.svg');
}

.thead-info__item--create,
.thead-info__item--update {
    background-image: none;
}

.clients__wrapper {
    position: relative;
    overflow: auto;
}