.preloader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
  }
  
  #loader {
    --front-color: #8052ff;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
  }
  
  #loader svg circle.front {
    stroke: var(--front-color);
  }
  
  #loader svg.circle-inner {
    height: 50px;
    width: 40px;
  }
  #loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
  }
  
  #loader svg.circle-inner circle.front {
    -webkit-animation: circle-inner 1.8s ease infinite 0.05s;
            animation: circle-inner 1.8s ease infinite 0.05s;
  }
 
  @-webkit-keyframes circle-inner {
    0% {
      stroke-dashoffset: 9;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 106;
    }
    80% {
      stroke-dashoffset: 97;
    }
    100% {
      stroke-dashoffset: 97;
    }
  }
  @keyframes circle-inner {
    0% {
      stroke-dashoffset: 9;
    }
    25% {
      stroke-dashoffset: 0;
    }
    65% {
      stroke-dashoffset: 106;
    }
    80% {
      stroke-dashoffset: 97;
    }
    100% {
      stroke-dashoffset: 97;
    }
  }
  