.header__inner {
    position: relative;
    width: 100%;
}

.find-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    min-width: 581px;
    top: 47px;
    left: 0;
    z-index: 5;
    background-color: var(--color-white);
    box-shadow: 0px 0px 35px rgba(0, 0, 0, .15);
}

.find-list__link {
    display: inline-block;
    width: 100%;
    color: var(--color-mine-shaft);
    font-size: 12px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--color-gray-suit);
}

.hide {
    display: none;
}