.contact-tooltip {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: auto;
}

.contact-tooltip__type {
    display: block;
    margin-right: 5px;
    color: var(--color-white);
}

.contact-tooltip__value {
    display: block;
    font-weight: bold;
    color: var(--color-melrose);
    text-decoration: underline;
}

.contacts__link:hover .contact-tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.delete-tooltip {
    width: 133px;
    font-weight: bold;
}